<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结果页面</title>
</head>
<body>
    <p><a href="/">点击回首页</a></p>
    <p>正在拿本子计算中....</p>
    计算完成
    <p>时间差值: <%= time %> 毫秒</p>
    <ul>
        <% for(let i=0; i < result.length; i++){ %>
            <li><%= result[i]%></li>
        <% } %>      
    </ul>
</body>
</html>