<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= user.phone %>的订单</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="box">
        <p>用户号码为<%= user.phone %>定了<%= user.food %></p>
        <a href="/">返回首页</a>
    </div>
<body>