body{
    background-color: #999;
}
a{
    text-decoration: none;
    color:blue;
}
.box{
    width: 400px;
    margin: auto;
    padding: 50px;
    transform: translateY(50px);
    border: 5px solid greenyellow;
    background-color: rgba(218, 242, 142);
    border-radius: 10px; 
}
.box>p>span{
    display: inline-block;
    width: 60px;
}
.box>a{
    border: 1px solid #fff;
}

